<% include partials/header.ejs %>
<main> 
    <section>
      <body>
      <br>
      <article class="message is-dark">
        <div class="message-header">
          <h2> Proudly serving local and remote communities since 2011 </h2>
          <button class="delete" aria-label="delete"></button>
        </div>
        <div class="message-body">
          <br>
          <br>
          <center> <img src="\images\dp1.jpg" id="me" height="600" width="400">
  </center><br>
  <br>
  As a Registered Practical Nurse with over 10 years of experience in the healthcare field, I have cultivated a diverse skill set ranging from bedside care, facilitating outpatient clinics, to adeptly navigating the multifaceted challenges presented by environments in both Northern and Southern Canada. My tenure has afforded me the privilege of interacting with remarkable individuals, fueling my continued journey in nursing.
  <br>
  <br>
  I am currently pursuing an advanced diploma in Health Informatics Technology with a Co-op component, further amplifying my dedication to this field. In the realm of healthcare technology, I am proficient with platforms such as MediTech, PointClickCare, EPIC, and eHealth Ontario. My passion extends beyond merely using these tools – I am deeply invested in the design and implementation of technology that is both accessible and user-friendly.
  <br>
  <br>
  Driven by a vision of equitable and efficient healthcare, my imminent objectives include product management in remote communities, where I'm eager to transition from paper-based charting to intuitive electronic platforms.
   </p>
        <br>
        </div>
      </article>
  </main>
  <br>
  <br>
  <a href="\A1_Redo\public\DP_Resume.pdf" class="button" download>Download My Resume (PDF only)</a>
  <br>
  <br>      
  <br>
  <br>
<% include partials/footer.ejs %>