<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="assignment1/css" href="assignment1.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css">

  <section class="hero is-warning">
    <div class="hero-body">
      <p class="title"> Divya Patel </p>
      <p class="subtitle">
      Registered Practical Nurse, Electronic Health Record Expert  </p>
    </div>
  </section>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="https://www.linkedin.com/in/divya-patel-rpn/">
            <img src="\images\logo.png" width="40" height="90">
          </a>
          </a>
          <div id="has-background-primary-light" class ="has-background-primary-light">
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item" href="/index">
              Home
            </a>
            <a class="navbar-item" href="/Contact">
              Contact
            </a>
            <a class="navbar-item" href="/Projects">
              Projects
            </a>
            <a class="navbar-item" href="/about">
              About Me
            </a>
            <a class="navbar-item" href="/services">
              Services
            </a>
                <hr class="navbar-divider">
              </div>
            </div>
          </div>     
          <div class="navbar-end">
            <div class="navbar-item">
              <a href="https://github.com/nursediv/Portfolio" class="button is-primary"> 
                <strong>GitHub</strong>
              <div class="buttons">
                <a class="button is-primary">
                  <strong>Get in Touch</strong>
                </a>
                </a>
              </div>
            </div>
          </div>
        </div>
      </nav>