<%- include('partials/header') %>

<main>
  <section class="hero is-warning">
    <div class="hero-body">
      <p class="title"> Divya Patel </p>
      <p class="subtitle">
      Registered Practical Nurse, Electronic Health Record Expert  </p>
    </div>
  </section>

  <article class="message is-dark">
    <div class="message-header">
      <h2> Mission Statement</h2>
      <button class="delete" aria-label="delete"></button>
    </div>
    <div class="message-body">
      <img src="/img/profpic.jpeg" width="400" height="200">
      <br>
      <br>
      <p>
        As a dedicated nurse with hands-on experience in the frontline of healthcare, I've witnessed the transformative power of Electronic Health Records (EHR) in enhancing patient care and streamlining operations. 
        Driven by my passion for EHR systems, I am committed to bridging the gap between clinical practice and technology. My mission is to transition into EHR product management, leveraging my unique vantage point to 
        create intuitive, efficient, and patient-centered solutions. My goal is to innovate and lead in the realm of EHR, ensuring that healthcare professionals are equipped with the best tools to deliver exceptional care.
      </p>
    </div>
  </article>

  <article class="message is-dark">
    <div class="message-header">
      <h2>Vision</h2>  
      <button class="delete" aria-label="delete"></button>
    </div>
    <div class="message-body">
      <p>
        In a world where healthcare and technology continually intersect, I envision a future where EHR systems are not just tools, but essential partners in care. Drawing upon my nursing experience, I aim to lead the evolution 
        of EHR product management,crafting solutions that prioritize patient well-being, empower healthcare professionals, and drive medical excellence. By seamlessly integrating hands-on clinical insights with cutting-edge technology,
        my vision is to shape a healthcare landscape where technology elevates the human touch, ensuring that every patient receives the highest standard of care.
      </p>
    </div>
  </article>
</main>

<%- include('partials/footer') %>
