<% include partials/header.ejs %>
<main> 
  <section>
    <body>
    <br>
    <article class="message is-dark">
      <div class="message-header">
        <button class="delete" aria-label="delete"></button>
      </div>
      <div class="message-body">
        <br>
        <br>
<br>
<center>
<p class="subtitle is-3">Catch the Cookie Monster</p>
<img src="\images\cookie.png" id="monster" height="500px" width="300px">
<br>
This Monster Catch game was created with HTML5 Canvas, JavaScript, and Cascade Style Sheets. 
<br>
<br>
<p class="subtitle is-3"> C# Calculator </p>
<center><img src="\images\calculator.png" id="calculator" height="500px" width="300px"></center>
Calculator GUI built using Object-Oriented Programming principles in C# to create a working Calculator interface. 
<br>
<br>
<br>
<p class="subtitle is-3"> CareSync Centralized Pharmacy System</p>
<img src="\images\caresync.png" id="caresync" height="700" width="500">
<br>
The aim of CareSync is to increase communication with primary care providers while also lessening the load of providers through an efficient cloud based software system.
This group project utilized Software System Requirements including Draw.io, Visual Paradigm, Slack, and PL/SQL for the framework of our system.
<br>
</p>
<br>
</center>
</div>
</article>
</main>
<br>
<br>
<br>
  <% include partials/footer.ejs %>