<%- include('partials/header') %>
<main>
  <section>
    <p class="title has-text-centered"> What can I do for you? </p>
    <p class="subtitle has-text-centered">Let's connect and collaborate!</p>
    
    <article class="message is-dark">
      <div class="message-header">
        <button class="delete" aria-label="delete"></button>
      </div>
      <div class="message-body has-text-centered">
        Services I provide include: 
        <ul>
          <li>Web Design with MongoDB, C#, JavaScript, HTML, CSS and JQuery/REACT</li>
          <li>Software Requirements and Specifications Design</li>
          <li>Effective System Design and Analysis with database languages such as PL/SQL, MongoDb and SAAS</li>
          <li>Project Management, Quality Assurance and Performance Evaluation</li>
          <li>Creation and implementation of GUI's using Object-Oriented Programming </li>
          <li>Healthcare Data analysis with visual insight tools: PowerBi, Tableau and Looker </li>
        </ul>
      </div>
    </article>
  </section>
</main>

<%- include('partials/footer') %>