<% include partials/header.ejs %>
<div class="message-body">
    Services I provide include: 
    <li>Web Design with MongoDB, C#, JavaScript, HTML, CSS and JQuery/REACT</li>
    <li>Software Requirements and Specifications Design</li>
    <li>Effective System Design and Analysis with database languages such as PL/SQL, MongoDb and SAAS</li>
    <li>Project Management, Quality Assurance and Performance Evaluation</li>
    <li>Creation and implementation of GUI's using Object-Oriented Programming </li>
    <li>Healthcare Data analysis with visual insight tools: PowerBi, Tableau and Looker </li>
  </div>
</div>
</div>
</div>
</nav>
</head>
<main> 
<section>
<body>
<br>
<article class="message is-dark">
<div class="message-header">
<button class="delete" aria-label="delete"></button>
</div>
<div class="message-body">
<br>
<br>
<br>
<center>
<br>
<br>
<br>
</center>
</div>
</article>
</main>
<br>
<br>
<br>

<% include partials/footer.ejs %>